@media screen and (max-width: 1400px) {
    .container{
        width: 1140px;
    }
    .info-item{
        min-height: 18rem;
        min-width: 16rem;
        padding: 4rem 3rem ;
    }
}

@media screen and (max-width: 1200px) {
    .container{
        width: 960px;
    }
    h2{
        font-size: 40px;
    }
}

@media screen and (max-width: 1100px) {
    .info{
        flex-direction: column;
    }
    .info-item{
        width: 28rem;
        min-height: 18rem;
        padding: 4rem 3rem;
    }
    .field-merger{
        flex-direction: column;
    }
    .title-flexbox h1{
        font-size: calc(65px + 4vw);
    }
}

@media screen and (max-width: 992px) {
    .container{
        width: 720px;
    }
    h1{
        font-size: 42px;
    }
    h2{
        font-size: 36px;
    }
    .title-flexbox{
        padding: 1.325rem;
    }
        .title-flexbox h3{
            font-size: 26px;
        }
    .contact-section{
        padding: 1rem;
    }
    .contact-buttons{
        align-items: flex-start;
        flex-direction: column;
    }
    .contact-inner{
        margin-bottom: -1rem;
    }
    .contact-inner h2{
        padding: 0;
    }
    .submit-btn{
        width: 100%;
    }
    .contact-flexbox{
        gap: 0;
        flex-direction: column;
    }
    .contact-info{
        flex-direction: row;
        padding: 1rem 0;
    }
    .fields{
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .container{
        width: 100%;
    }
    .stats-section{
        padding: 1rem 0;
    }
    .info-item{
        width: 100%;
    }
    .stats-title{
        padding-bottom: 2rem;
    }
    .title-flexbox{
        align-items: flex-start;
        gap: 0;
    }
}
